@tailwind base;
@tailwind components;
@tailwind utilities;

header{
  background-color:#2596be;
}

input[type="text"],input[type="password"], input[type="email"],input[type="username"],input[type="number"], 
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}

button {
    background-color:#2596be;
    @apply p-2 w-full text-white rounded-2xl;
}